.head_wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.head_wrapper::before {
	content: "";
	background-image: url(../images/background.jpeg);
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.1;
}

.head_sec {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 100%;
	margin: auto;
	padding: 3rem 0rem;
	position: relative;
}

.heading_left {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
}

.heading_left p {
	font-size: 70px;
	line-height: 115%;
	font-weight: 600;
	font-family: "Montserrat", sans-serif;
	color: #10618f;
	margin-bottom: 30px;
	background: linear-gradient(
		90deg,
		rgba(32, 78, 119, 1) 0%,
		rgba(9, 94, 121, 0.5051062661392682) 92%,
		rgba(0, 57, 75, 0.4546860980720413) 100%
	);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.heading_left span {
	font-size: 20px;
	color: rgb(126, 10, 126);
	animation-delay: 0.5s;
	margin-bottom: 30px;
}

.header_signup {
	border-radius: 5px;
	font-size: 18px;
	line-height: 19px;
	text-align: center;
	text-transform: capitalize;
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(36, 109, 131) 95.83%
	);
	color: #ffffff !important;
	padding: 8px 16px;
}

.header_signup:hover {
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(3, 83, 108) 95.83%
	);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.header_signup.animate {
	animation-delay: 1s;
}

.heading_right {
	display: flex;
	flex: 1;
	justify-content: center;
	padding: 1.5rem;
	font-size: 1rem;
	line-height: 2rem;
}

.heading_right.animate {
	animation-delay: 1.5s;
}

.heading_right img {
	height: 24rem;
	padding: 1rem;
	filter: drop-shadow(10px 10px 4px rgba(216, 239, 234, 1));
}

.animate {
	opacity: 0;
	transform: translateY(30px);
	animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media (max-width: 1030px) {
	.heading_right img {
		height: 20rem;
	}
}

@media (max-width: 890px) {
	.heading_left p {
		font-size: 60px;
	}

	.heading_left span {
		font-size: 18px;
	}

	.header_signup {
		font-size: 16px;
	}

	.heading_right img {
		height: 18rem;
	}
}

@media (max-width: 787px) {
	.heading_left,
	.heading_right {
		padding: 0;
	}

	.heading_left p {
		font-size: 54px;
	}

	.heading_left span {
		font-size: 16px;
	}
}

@media (max-width: 680px) {
	.head_sec {
		flex-direction: column;
		text-align: center;
		padding: 2rem 1rem;
	}

	.heading_left p {
		line-height: 130%;
	}

	.header_signup {
		padding: 8px 18px;
	}

	.heading_right img {
		margin-top: 20px;
		height: 18rem;
	}
}

@media (max-width: 524px) {
}

@media (max-width: 400px) {
	.heading_left p {
		font-size: 40px;
	}

	.heading_left span {
		font-size: 16px;
	}

	.heading_right img {
		height: 12rem;
	}
}
