.myprofile {
	display: flex;
	align-items: flex-start;
	min-height: 75vh;
	padding-top: 40px;
}

.sidebar {
	width: 20%;
	padding: 20px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.sidebar li {
	padding: 10px;
	cursor: pointer;
	margin-bottom: 5px;
	text-align: start;
	border-left: 4px solid transparent;
	line-height: 20px;
	transition: border-color 0.3s, transform 0.3s;
}

.sidebar li:hover {
	border-left: 4px solid rgb(32, 78, 119);
	transform: translateX(3px);
}

.sidebar li a:hover {
	color: rgb(32, 78, 119);
}

.sidebar li.active {
	border-left: 4px solid rgb(32, 78, 119);
	font-weight: 500;
}

.content {
	width: 80%;
	padding-top: 20px;
	box-sizing: border-box;
}

.hamburger {
	display: none;
	cursor: pointer;
}

.hamburger i {
	color: rgb(88, 88, 88);
}

.myprofileform {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.myprofile_pic {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	margin-bottom: 20px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	border: 1px solid rgb(236, 236, 236);
}

.myprofile_pic:hover::after {
	content: "Upload Image";
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	border-radius: 50%;
	top: 0;
	left: 0;
}

.myprofile_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.myprofileinput {
	width: 250px;
	text-align: center;
	padding: 10px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	margin-bottom: 20px;
}

.myprofileinput input {
	width: 100%;
	border: none;
	outline: none;
	color: gray;
}

.myprofileinput:focus-within {
	border-color: rgba(0, 0, 0, 0.5);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.myprofilesubmit,
.delete {
	margin-bottom: 10px;
	cursor: pointer;
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(36, 109, 131) 95.83%
	);
	border: none;
	color: white;
	border-radius: 3px;
	width: 250px;
	padding: 10px;
	transition: box-shadow 0.3s;
}

.myprofilesubmit:hover,
.delete:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.delete {
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		#e49d91 0%,
		#df5840 95.83%
	);
}

.changePassword,
.deleteAccount,
.userDetails {
	text-align: center;
}

.userDetails .myprofile_img {
	border: 1px solid rgb(236, 236, 236);
}

.changePassword a {
	color: rgb(98, 155, 129);
}

.changePassword a:hover {
	color: rgb(9, 197, 113);
}

.userDetails p {
	margin: 10px 0;
	font-size: 18px;
}

.myprofile_posts {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.edit-profile-btn {
	margin-top: 10px;
	cursor: pointer;
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(36, 109, 131) 95.83%
	);
	border: none;
	color: white;
	border-radius: 3px;
	padding: 6px 12px;
	font-size: 16px;
}

.edit-profile-btn:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1042px) {
	.sidebar {
		padding: 20px 10px 0px 0px;
	}
}

@media (max-width: 770px) {
	.myprofile {
		flex-direction: column;
	}

	.sidebar.active {
		z-index: 950;
		top: 4.5rem;
		left: 0;
		width: 100%;
		height: 100%;
		padding: 80px 20px;
		transition: 0.5s ease-in-out;
		background-color: rgb(247, 255, 255);
		gap: 25px;
		overflow-x: hidden;
	}

	.sidebar {
		z-index: 950;
		position: fixed;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		top: 4.5rem;
		left: -800px;
		width: 100%;
		height: 100%;
		padding: 80px 20px;
		transition: 0.5s ease-in-out;
		background-color: rgb(247, 255, 255);
	}

	.sidebar li {
		text-align: center;
	}

	.hamburger {
		display: block;
		z-index: 951;
		border: 1px solid rgb(88, 88, 88);
		border-radius: calc(0.5rem - 2px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	.hamburger i {
		font-size: 18px;
		cursor: pointer;
		padding: 8px 12px;
	}

	.content {
		width: 100%;
		padding-top: 40px;
	}
}

@media (max-width: 600px) {
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}
