nav {
	position: sticky;
	top: 0;
	z-index: 998;
}

.main-nav {
	width: 100%;
	background-color: rgba(216, 239, 234, 1);
	padding: 8px;
}

.nav-bar {
	width: 100%;
	background: rgb(247, 255, 255);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0px 20px;
	border-radius: 8px;
	box-shadow: 0 0 4px #345aca66;
	height: 3.5rem;
}

.logo {
	margin-right: auto;
}

.logo img {
	height: 28px;
}

.nav-menu {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	margin-bottom: 0px !important;
}

.nav-menu a {
	font-size: 1.1rem;
	color: rgb(32, 78, 119);
}

.nav-menu li {
	list-style: none;
}

.nav-menu li:hover {
	transform: translateY(-2px);
	transition: all 0.25s;
	border-radius: 50px;
}

.nav-menu a.active {
	color: rgb(232, 10, 10);
}

.login-btn {
	display: inline-flex;
	gap: 12px;
	justify-content: center;
	align-items: center;
	padding: 2px 20px;
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(36, 109, 131) 95.83%
	);
	color: #ffffff !important;
	font-size: 1.3rem;
	border-radius: 5px;
	box-shadow: inset 0 0 #0000;
}

.login-btn:hover {
	color: #ffffff;
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(3, 83, 108) 95.83%
	);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

.user {
	position: relative;
	display: inline-block;
	cursor: pointer;
	margin: 0px 0px 0px 40px;
}

.profile_pic {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	box-sizing: border-box;
	border: 1px solid rgb(236, 236, 236);
}

/* Dropdown menu */
.dropdown-menu {
	position: absolute;
	top: 125%;
	background-color: rgb(247, 255, 255);
	border: 1px solid #ccc;
	padding: 8px 0px;
	z-index: 1;
	display: none;
	right: 0%;
	width: 200px;
}

.dropdown-menu li {
	padding: 0px 8px;
}

.dropdown-menu li a {
	font-size: 1rem;
	display: block;
	padding: 8px 10px;
	color: rgb(32, 78, 119);
	transition: background-color 0.3s ease;
}

.dropdown-menu li:hover {
	background-color: #ddf2f8;
}

.user .dropdown-menu {
	display: none;
}

.user.active .dropdown-menu {
	display: block;
}

.user-name {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 8px 18px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	color: rgba(210, 5, 217, 0.8);
	text-align: center;
	cursor: auto;
	color: rgb(113, 8, 82);
}

.user-name strong {
	margin-left: 5px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.nav_icons {
	padding-right: 10px;
}

.logout {
	color: rgb(232, 10, 10) !important;
}

#mobile {
	display: none;
}

#mobile i {
	color: rgb(88, 88, 88);
}

.progress-scrollbar {
	position: absolute;
	background-color: rgb(33, 113, 75);
	height: 4%;
	width: 100%;
	bottom: 0;
}

@media (max-width: 780px) {
	.nav_bar .logo {
		font-size: 1.3rem;
	}

	.nav_bar li {
		padding-left: 25px;
	}
}

@media (max-width: 600px) {
	.nav_bar {
		padding: 0px 30px;
	}

	.nav_bar .logo {
		font-size: 1rem;
	}

	.nav-menu.active {
		z-index: 999;
		top: 4.5rem;
		right: 0;
		width: 100%;
		height: 100vh;
		padding: 80px 20px;
		color: black;
		transition: 0.5s ease-in-out;
		background-color: rgb(247, 255, 255);
		gap: 25px;
	}

	.nav-menu {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: fixed;
		top: 4.5rem;
		right: -800px;
		width: 100%;
		height: 100vh;
		padding: 80px 20px;
		transition: 0.5s ease-in-out;
		background-color: rgb(247, 255, 255);
	}

	.nav_bar {
		height: 4rem;
	}

	.nav_bar li {
		margin-bottom: 25px;
		font-size: 1rem;
	}

	.dropdown-menu {
		right: -100%;
	}

	#mobile {
		z-index: 999;
		display: block;
		border: 1px solid rgb(88, 88, 88);
		border-radius: calc(0.5rem - 2px);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	}

	#mobile i {
		font-size: 18px;
		cursor: pointer;
		padding: 8px 12px;
	}

	.user {
		padding-right: 20px;
	}
}

@media (max-width: 500px) {
}

@media (max-width: 400px) {
}
