.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px 0;
}

.pagination button {
	background-color: rgb(121, 178, 195);
	background-color: #4dc0b5;
	color: white;
	border: none;
	padding: 10px 20px;
	margin: 0 5px;
	cursor: pointer;
	border-radius: 4px;
}

.pagination button.active {
	background-color: #2871be;
}

.pagination button.inactive {
	background-color: #cccccc;
}

.pagination button:disabled {
	background-color: #989898;
	cursor: not-allowed;
}
