.loading {
	filter: blur(10px);
	clip-path: inset(0);
}

.loaded {
	filter: blur(0);
	transition: filter 0.5s linear;
}

.post_heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0px;
}

.search {
	display: flex;
	width: 390px;
	border: 1px solid rgb(202, 202, 202);
	border-radius: 25px;
	overflow: hidden;
}

.search-icon {
	cursor: pointer;
	padding: 15px 10px 0px 15px;
	color: rgb(79, 79, 79);
	border-right: 1px solid rgb(202, 202, 202);
	background-color: rgba(216, 239, 234, 1);
}

.search > input {
	flex: 1;
	background: transparent;
	padding: 10px;
	border: none;
	outline: none;
	font-size: 16px;
}

.search.focused {
	border-color: rgb(32, 78, 119);
	box-shadow: 0 0 3px rgb(32, 78, 119);
}

.post_container {
	display: flex;
}

.posts {
	display: flex;
	flex-wrap: wrap;
	border-radius: 10px;
	width: 75%;
	margin-top: 0px !important;
}

.featured {
	position: sticky;
	top: 10rem;
	width: 25%;
	height: 65vh;
	padding-left: 10px;
	margin-bottom: 0px;
	z-index: 0;
}

.featured_posts {
	padding-bottom: 14px;
}

.featured_category span {
	padding: 1px 10px;
	border-radius: 20px;
	border: 1px solid rgb(224, 224, 224);
	font-size: 12px;
	margin-right: 5px;
}

.featured_title {
	margin-top: 5px;
	display: flex;
}

.featured_title span {
	font-size: 18px;
	line-height: 20px;
	margin-left: 5px;
	font-weight: 500;
}

.featured_title img {
	height: 26px;
	width: 26px;
	object-fit: cover;
	border-radius: 50%;
}

.featured_info {
	font-size: 12px;
	margin-left: 31px;
}

.featured_image img {
	width: 134px;
	height: 70px;
	border-radius: 10%;
}

.featured_posts a:hover {
	color: rgb(71, 120, 163);
}

.posts > h2 {
	color: rgb(208, 105, 105);
	margin-bottom: 300px;
	margin-left: 350px;
}

.post {
	margin: 0px 24px 24px 0px;
	height: 340px;
	width: 46%;
	border: 1px solid #38a89d;
	overflow: hidden;
	border-radius: 0.5rem;
	transition: all 0.01s;
}

.post:hover {
	border: 2px solid #38a89d;
}

.post_img {
	height: 200px;
	width: 100%;
	object-fit: cover;
	transition: all 0.3s;
	z-index: 20;
}

.post:hover .post_img {
	height: 140px;
}

.read_post {
	width: 100%;
	bottom: -200px;
	left: 0;
	right: 0;
	border: 1px solid #4dc0b5;
	color: #4dc0b5;
	text-align: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	border-radius: 0.375rem;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	margin: 0.5rem;
}

.read_post:hover {
	background-color: #4dc0b5;
	color: #ffffff;
	transition-property: all;
	transition-duration: 0.3s;
}

.post_info {
	display: flex;
	flex-direction: column;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 10px;
}

.post_title {
	font-size: 20px;
	margin-top: 5px;
	font-weight: 500;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 1;
}

.author_date_container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 12px;
	margin: 2px 0;
}

.author_avatar {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid rgb(236, 236, 236);
	border-radius: 50%;
}

.author_date_container > p {
	margin-bottom: 0px;
}

.author {
	color: rgba(210, 5, 217, 0.8);
	margin-right: auto;
	margin-left: 6px;
	font-size: 14px;
}

.post-category {
	display: flex;
	margin-right: auto;
	gap: 4px;
	font-size: 12px;
	margin-top: 4px;
}

.post-category > p {
	padding: 0px 10px;
	border-radius: 20px;
	margin-bottom: 0px;
}

.post_desc {
	width: 100%;
	font-size: 14px;
	line-height: 27.5px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
}

.btnn {
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(36, 109, 131) 95.83%
	);
	color: #ffffff !important;
	padding: 6px 10px;
	font-size: 18px;
	border-radius: 5px;
	box-shadow: inset 0 0 #0000;
}

.btnn:hover {
	background: radial-gradient(
		98.41% 123.96% at 0% 16.13%,
		rgb(100, 167, 225) 0%,
		rgb(3, 83, 108) 95.83%
	);
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 1042px) {
	.post {
		margin: 0px 10px 20px 0px;
		width: 48%;
		height: 320px;
	}

	.featured {
		height: 45vh;
	}

	.post_info {
		padding: 0px 10px 0px 10px;
	}

	.post_title {
		font-size: 18px;
	}

	.post_desc {
		font-size: 14px;
	}

	.author_date_container {
		margin: 2px 0px;
	}

	.author_date_container span {
		font-size: 14px;
	}

	.posts > h2 {
		margin-left: 264px;
	}
}

@media (max-width: 893px) {
	.posts {
		width: 60%;
	}

	.featured {
		width: 30%;
		height: 45vh;
		padding-left: 0px;
	}

	.featured_title span {
		font-size: 17px;
	}

	.post {
		margin: 0px 10px 20px 0px;
		width: 100%;
	}

	.post:hover {
		border: 2px solid #38a89d;
	}

	.post_img {
		height: 200px;
	}

	.post:hover .post_img,
	.post_img:hover {
		height: 145px;
	}

	.post_info {
		padding: 0px 5px 0px 5px;
	}

	.post_title {
		font-size: 16px;
	}

	.author_date_container {
		margin: 2px 0px;
	}

	.author_date_container span {
		font-size: 12px;
	}

	.post-category p {
		padding: 0 6px;
	}

	.posts > h2 {
		margin-left: 214px;
	}
	.search > input {
		width: 180px;
	}
}

@media (max-width: 785px) {
	.post_container {
		flex-direction: column;
	}

	.posts,
	.featured {
		width: 100%;
	}

	.featured {
		position: static;
		padding: 0px;
		margin-top: 20px;
		height: auto;
	}

	.featured h3 {
		margin-bottom: 0px;
	}

	.post {
		margin: 0px 7px 14px 7px;
		width: 47%;
	}

	.search {
		width: 290px;
	}

	.search-icon {
		padding: 12px 8px 0px 12px;
	}

	.search > input {
		padding: 8px;
	}

	.post:hover {
		border: 2px solid #38a89d;
	}

	.post_img {
		height: 200px;
	}

	.post:hover .post_img,
	.post_img:hover {
		height: 145px;
	}

	.post_info {
		padding: 0px 5px 0px 5px;
	}

	.post_title {
		font-size: 16px;
	}

	.author_date_container {
		margin: 2px 0px;
	}

	.author_date_container span {
		font-size: 12px;
	}

	.post_desc {
		font-size: 12px;
	}

	.btnn {
		padding: 6px 8px;
		font-size: 16px;
	}
}

@media (max-width: 625px) {
	.search {
		width: 100%;
	}

	.search-icon {
		padding: 12px 10px 0px 14px;
	}

	.btnn {
		display: none;
	}

	.posts {
		justify-content: center;
	}

	.post {
		margin: 0px 0px 40px 0px;
		width: 100%;
		height: auto;
	}

	.post:hover {
		border: 1px solid #38a89d;
	}

	.post_img {
		height: 230px;
	}

	.post:hover .post_img,
	.post_img:hover {
		height: 230px;
	}

	.post_title {
		font-size: 18px;
		font-weight: 500;
		margin-top: 0px;
	}

	.post_info {
		padding: 5px 10px 0px 10px;
	}

	.author_date_container {
		margin: 5px 0px;
	}

	.author_date_container span {
		font-size: 16px;
	}

	.author {
		padding: 0 5px;
	}

	.post_desc {
		font-size: 14px;
	}

	.post-category p {
		padding: 0 10px;
		border-radius: 20px;
	}
}

@media (max-width: 520px) {
	.search-icon {
		padding: 12px 10px 0px 14px;
	}

	.search > input {
		padding: 8px;
	}

	.post {
		margin: 0px 0px 40px 0px;
		width: 100%;
		height: auto;
	}

	.posts > h2 {
		margin-left: 89px;
	}

	.post_img {
		height: 200px;
	}

	.post:hover .post_img,
	.post_img:hover {
		height: 200px;
	}

	.post_title {
		font-size: 18px;
		font-weight: 500;
		margin-top: 0px;
	}

	.post_info {
		padding: 5px 10px 0px 10px;
	}

	.author_date_container {
		margin: 5px 0px;
	}

	.author_date_container span {
		font-size: 16px;
	}

	.author {
		padding: 0 5px;
	}

	.post_desc {
		font-size: 14px;
	}

	.post-category p {
		padding: 0 10px;
		border-radius: 20px;
	}
}

@media (max-width: 400px) {
	.post_heading {
		align-items: center;
	}

	.posts > h2 {
		margin-left: 47px;
	}

	.post_img {
		height: 180px;
	}

	.post:hover .post_img,
	.post_img:hover {
		height: 180px;
	}

	.post_info {
		padding: 5px 10px 0px 10px;
	}

	.post_title {
		font-size: 16px;
	}

	.author_date_container {
		margin: 3px 0px;
	}

	.author_date_container span {
		font-size: 14px;
	}

	.author {
		padding: 0 3px;
	}
}
