.single {
	padding: 20px;
	padding-right: 0;
	display: flex;
	flex-direction: column;
	font-family: "Nunito", sans-serif;
}

.singlePostImg {
	width: 100%;
	height: 431px;
	object-fit: cover;
	border-radius: 10px;
}

.singlePostTitle {
	text-align: center;
	margin: 20px;
	/* font-size: 30px; */
	font-size: 2.5rem;
}

.singlePostTitleInput {
	outline: none;
	border: none;
	margin: 10px;
	font-size: 30px;
	text-align: center;
	width: 98%;
}

.singlePostTitleInput:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid lightgray;
}

.singlePostEdit {
	margin-top: 50px;
	margin-bottom: 20px;
	float: right;
	font-size: 20px;
}

.singlePostIcon {
	margin-left: 10px;
	cursor: pointer;
}

.singlePostIcon:first-child {
	color: teal;
}

.singlePostIcon:last-child {
	color: tomato;
}

.singlePostInfo {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 35px;
	font-family: "Nunito", sans-serif;
}

.singlePostDesc {
	/* color: #666; */
	font-size: 18px;
	line-height: 36.5px;
	width: 75vw;
	margin-right: auto;
	margin-left: 0px;
	/* max-width: 100% !important;
    overflow-x: hidden !important; */
}

/* .singlePostDesc::first-letter {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 600;
} */

.singlePostDescInput {
	border: none;
	outline: none;

	/* color: #666; */
	font-size: 18px;
	line-height: 36.5px;
	height: 100vh;
}
.singlePostDescInput:focus {
	outline: none;
}

.singlePostButton {
	border: none;
	background-color: teal;
	padding: 5px;
	width: 100px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-end;
	margin-top: 20px;
}

@media (max-width: 770px) {
	.singlePostImg {
		width: 100%;
		height: 400px;
		object-fit: cover;
		border-radius: 10px;
	}

	.singlePostTitle {
		margin: 20px;
		font-size: 2.4rem;
	}
	.singlePostTitleInput {
		outline: none;
		border: none;
		margin: 10px;
		font-size: 27px;
		text-align: center;
		width: 98%;
	}
	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 17px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 18px;
		line-height: 34.5px;
		width: 71vw;
		margin-right: auto;
		margin-left: 0px;
	}
	.singlePostDescInput {
		font-size: 18px;
		line-height: 34.5px;
		height: 100vh;
	}

	.singlePostEdit {
		font-size: 18px;
	}
	.singlePostButton {
		padding: 4px;
		width: 80px;
		margin-top: 20px;
	}
}

@media (max-width: 600px) {
	.singlePostImg {
		width: 100%;
		height: 370px;
		object-fit: cover;
		border-radius: 10px;
	}

	.singlePostTitle {
		margin: 20px;
		font-size: 2.3rem;
	}
	.singlePostTitleInput {
		outline: none;
		border: none;
		margin: 10px;
		font-size: 25px;
		text-align: center;
		width: 98%;
	}
	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 16px;
		line-height: 32.5px;
		width: 69vw;
		margin-right: auto;
		margin-left: 0px;
	}
	.singlePostDescInput {
		font-size: 16px;
		line-height: 32.5px;
		height: 100vh;
	}
	.singlePostEdit {
		font-size: 16px;
	}
	.singlePostButton {
		padding: 3px;
		width: 70px;
		margin-top: 20px;
	}
}

@media (max-width: 500px) {
	.singlePostImg {
		width: 100%;
		height: 340px;
		object-fit: cover;
		border-radius: 10px;
	}

	.singlePostTitle {
		margin: 20px;
		font-size: 2.1rem;
	}
	.singlePostTitleInput {
		outline: none;
		border: none;
		margin: 10px;
		font-size: 20px;
		text-align: center;
		width: 98%;
	}
	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 11px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 14px;
		line-height: 29.5px;
		width: 70vw;
		margin-right: auto;
		margin-left: 0px;
	}
	.singlePostDescInput {
		font-size: 14px;
		line-height: 29.5px;
		height: 100vh;
	}
	.singlePostEdit {
		font-size: 14px;
	}
	.singlePostButton {
		padding: 2px;
		width: 60px;
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	.singlePostImg {
		width: 100%;
		height: 310px;
		object-fit: cover;
		border-radius: 10px;
	}

	.singlePostTitle {
		margin: 20px;
		font-size: 2rem;
	}
	.singlePostTitleInput {
		outline: none;
		border: none;
		margin: 10px;
		font-size: 18px;
		text-align: center;
		width: 98%;
	}
	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 9px;
		line-height: 30px;
	}

	.singlePostDesc {
		font-size: 12px;
		line-height: 25.5px;
		width: 68vw;
		margin-right: auto;
		margin-left: 0px;
	}
	.singlePostDescInput {
		font-size: 12px;
		line-height: 25.5px;
		height: 100vh;
	}
	.singlePostEdit {
		font-size: 12px;
	}
	.singlePostButton {
		font-size: 10px;
		padding: 2px;
		width: 50px;
		margin-top: 20px;
	}
}
