.single {
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	font-family: "Nunito", sans-serif;
}

.singlePostImg {
	width: 100%;
	height: 431px;
	object-fit: cover;
	border-radius: 10px;
}

.singlePostTitle {
	text-align: center;
	margin: 20px;
	font-size: 2.5rem;
}

.singlePostTitleInput {
	outline: none;
	border: none;
	margin: 10px;
	font-size: 30px;
	text-align: center;
	width: 98%;
}

.singlePostTitleInput:focus {
	outline: none;
	border: none;
	border-bottom: 1px solid lightgray;
}

.singlePostEdit {
	margin-top: 50px;
	margin-bottom: 20px;
	float: right;
	font-size: 20px;
}

.singlePostIcon {
	margin-left: 10px;
	cursor: pointer;
}

.singlePostIcon:first-child {
	color: teal;
}

.singlePostIcon:last-child {
	color: tomato;
}

.singlePostInfo {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 20px;
	line-height: 35px;
	font-family: "Nunito", sans-serif;
}

.singlePostDesc {
	font-size: 18px;
	line-height: 36.5px;
}

.singlePostDescInput {
	border: none;
	outline: none;
	font-size: 18px;
	line-height: 36.5px;
	height: 100vh;
}

.singlePostDescInput:focus {
	outline: none;
}

.singlePostButton {
	border: none;
	background-color: teal;
	padding: 5px;
	width: 100px;
	color: white;
	border-radius: 5px;
	cursor: pointer;
	align-self: flex-end;
	margin-top: 20px;
}

.singlePostButton:hover {
	box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 770px) {
	.singlePostImg {
		height: 400px;
		border-radius: 10px;
	}

	.singlePostTitle {
		font-size: 2.4rem;
	}

	.singlePostTitleInput {
		font-size: 27px;
	}
	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 17px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 18px;
		line-height: 34.5px;
	}

	.singlePostDescInput {
		font-size: 18px;
		line-height: 34.5px;
		height: 100vh;
	}

	.singlePostEdit {
		font-size: 18px;
	}

	.singlePostButton {
		padding: 4px;
		width: 80px;
		margin-top: 20px;
	}
}

@media (max-width: 600px) {
	.singlePostImg {
		height: 370px;
		border-radius: 10px;
	}

	.singlePostTitle {
		font-size: 2.3rem;
	}

	.singlePostTitleInput {
		font-size: 25px;
	}

	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 15px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 16px;
		line-height: 32.5px;
	}

	.singlePostDescInput {
		font-size: 16px;
		line-height: 32.5px;
		height: 100vh;
	}

	.singlePostEdit {
		font-size: 16px;
	}

	.singlePostButton {
		padding: 3px;
		width: 70px;
		margin-top: 20px;
	}
}

@media (max-width: 500px) {
	.singlePostImg {
		height: 340px;
		border-radius: 10px;
	}

	.singlePostTitle {
		font-size: 2.1rem;
	}

	.singlePostTitleInput {
		font-size: 20px;
	}

	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 11px;
		line-height: 35px;
	}

	.singlePostDesc {
		font-size: 14px;
		line-height: 29.5px;
	}

	.singlePostDescInput {
		font-size: 14px;
		line-height: 29.5px;
		height: 100vh;
	}

	.singlePostEdit {
		font-size: 14px;
	}

	.singlePostButton {
		padding: 2px;
		width: 60px;
		margin-top: 20px;
	}
}

@media (max-width: 400px) {
	.singlePostImg {
		height: 310px;
		border-radius: 10px;
	}

	.singlePostTitle {
		font-size: 2rem;
	}

	.singlePostTitleInput {
		font-size: 18px;
	}

	.singlePostInfo {
		margin-bottom: 20px;
		font-size: 9px;
		line-height: 30px;
	}

	.singlePostDesc {
		font-size: 12px;
		line-height: 25.5px;
	}

	.singlePostDescInput {
		font-size: 12px;
		line-height: 25.5px;
		height: 100vh;
	}

	.singlePostEdit {
		font-size: 12px;
	}

	.singlePostButton {
		font-size: 10px;
		padding: 2px;
		width: 50px;
		margin-top: 20px;
	}
}
